APP_ENV=dev
APP_SECRET=e61bb899e353c9e941fedf43adfdc434
DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
