{% set title = 'account'|trans %}
{% extends 'front/base.html.twig' %}

{% block body %}
    {% include 'front/addons/top.html.twig' %}

    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">

                    {% include 'front/addons/flashMessages.html.twig' %}
                    <div class="profile-header">
                        <h3>
                            <b>{{ 'yours_account'|trans }}</b><br/>
                        </h3>
                    </div>
                    <div class="">
                        {% form_theme form 'form/default_user.html.twig' %}

                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
