{% if session is defined %}
    {% for type, messages in session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-success alert with-close alert-{{ type }} alert-dismissable show">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
