{% set title = article.name %}
{% extends 'front/base.html.twig' %}

{% block body %}

    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">
                    <section id="id-100" class="post single">

                        <div class="post-header single">
                            <div class="">
                                <h2 class="wow fadeInLeft animated">{{ article.name }}</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>
                            <div class="row wow fadeInRight animated">
                                <div class="col-sm-6 right" >
                                    <p class="date-comments">
                                        <i class="fa fa-calendar-o"></i> {{ article.created|date('d-m-Y') }}
                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInRight animated">
                                <img src="{{ asset(article.image) }}" class="img-responsive" alt="">
                            </div>
                        </div>

                        <div id="post-content" class="post-body single wow fadeInLeft animated">
                            {{ article.text|raw }}
                        </div>

                    </section>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
