{% set title = recruitment.name %}
{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="blog-lst col-md-12 pl0">
                    <section id="id-100" class="post single">
                        <div class="pull-right"><a href="{{ path('front_user_account') }}" class="btn btn-default">Powrót do konta</a></div>
                        <div class="post-header single">
                            <div class="text-center page-title">
                                <h2 class="wow fadeInLeft animated">{{ recruitment.name }}</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>
                        </div>

                        <div id="post-content" class="post-body single wow fadeInLeft animated">
                            {{ recruitment.content|raw }}
                        </div>

                    </section>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
