{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'front/addons/flashMessages.html.twig' %}
    </div>
    {% include 'front/addons/blog_start.html.twig' %}
{% endblock %}
