{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'front/addons/flashMessages.html.twig' %}

        {% include 'front/addons/subscriber.html.twig' %}
    </div>
{% endblock %}
