<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
