    <h4 class="text-uppercase wow fadeInLeft animated">3 comments</h4>


    <div class="row comment">
        <div class="col-sm-3 col-md-2 text-center-xs">
            <p>
                <img src="assets/img/client-face1.png" class="img-responsive img-circle" alt="">
            </p>
        </div>
        <div class="col-sm-9 col-md-10">
            <h5 class="text-uppercase">Julie Alma</h5>
            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
            </p>
        </div>
    </div>
    <!-- /.comment -->


    <div class="row comment last">

        <div class="col-sm-3 col-md-2 text-center-xs">
            <p>
                <img src="assets/img/client-face2.png" class="img-responsive img-circle" alt="">
            </p>
        </div>

        <div class="col-sm-9 col-md-10">
            <h5 class="text-uppercase">Louise Armero</h5>
            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
            </p>
        </div>

    </div>
    <!-- /.comment -->
</section>

<section id="comment-form" class="add-comments">
    <h4 class="text-uppercase wow fadeInLeft animated">Leave comment</h4>
    <form>
        <div class="row wow fadeInLeft animated">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span>
                    </label>
                    <input class="form-control" id="name" type="text">
                </div>
            </div>
        </div>

        <div class="row wow fadeInLeft animated">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email <span class="required">*</span>
                    </label>
                    <input class="form-control" id="email" type="text">
                </div>
            </div>
        </div>

        <div class="row wow fadeInLeft animated">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comment">Comment <span class="required">*</span>
                    </label>
                    <textarea class="form-control" id="comment" rows="4"></textarea>
                </div>
            </div>
        </div>

        <div class="row wow fadeInLeft animated">
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Post comment</button>
            </div>
        </div>
    </form>
</section>
