<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">

            <div class="item"><img src="{{ asset('uploads/files/banerstart1.jpg') }}" alt="Inwestycje z pasją"></div>
            <div class="item"><img src="{{ asset('uploads/files/banerstart2.jpg') }}" alt="Inwestycje z pasją"></div>
            <div class="item"><img src="{{ asset('uploads/files/banerstart3.jpg') }}" alt="Inwestycje z pasją"></div>

        </div>
    </div>
    <div class="slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            </div>
        </div>
    </div>
</div>
