<html>
<head>

    <style>
        body{
            background: #EFEFEF;
        }
        .center{
            background-color: #fff;
            margin: auto;
            padding: 20px;
            max-width: 900px;
        }
        .btn {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            background-image: -o-linear-gradient(top, #3498db, #2980b9);
            background-image: linear-gradient(to bottom, #3498db, #2980b9);
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }
        .footer-copy{
            background-color:#5e5e5e;
            color: #fff;
            font-size: 13px;
            padding: 10px;
        }
        .container{
        }
        .pull-left{
        }
    </style>
</head>
<body>
<div class="center">
    <h3>{{ config.config.title }}</h3>
    {% block body %}
    {% endblock %}
<br/>
{% block footer %}
    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    {{ config.config.footer|striptags }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
</body>
</html>
