{% extends 'emails/base.html.twig' %}

{% block body %}
    Witaj user<br/><br/>

    Niestety nie otrzymaliśmy od Ciebie deklarowanych w ofercie środków<br/>


    Umowa pożyczki została anulowana<br/><br/>


    <a href="{{ absolute_url(path('login')) }}">Zaloguj się</a> już teraz na swoim <a href="{{ absolute_url(path('login')) }}">koncie</a><br/>
{% endblock %}


