{% extends 'emails/base.html.twig' %}

{% block body %}
    Witaj user<br/><br/>

    Właśnie zamknęliśmy nabór inwestycyjny nr: {{ recruitment.recruitment.number }}<br/>

    Gratulujemy. Twoja oferta nr {{ recruitment.number }} została zaakceptowana. <br/>
    W załączniku oraz na Twoim koncie znajduje się umowa pożyczki<br/><br/>

    Szczegóły znajdziesz na swoim koncie po zalogowaniu<br/><br/>


    <a href="{{ absolute_url(path('login')) }}">Zaloguj się</a> już teraz na swoim <a href="{{ absolute_url(path('login')) }}">koncie</a><br/>
{% endblock %}


