{% extends 'emails/base.html.twig' %}

{% block body %}
    Witaj user<br/><br/>

    Dziękujemy za wpłatę. Przesłane środki zostały zaksięgowane na naszym koncie<br/>


    W dniu dzisiejszym na wskazany adres zostanie wysłana do Ciebie podpisana umowa pożyczki<br/><br/>


    <a href="{{ absolute_url(path('login')) }}">Zaloguj się</a> już teraz na swoim <a href="{{ absolute_url(path('login')) }}">koncie</a><br/>
{% endblock %}


