{% extends 'emails/base.html.twig' %}

{% block body %}
    Witaj user<br/><br/>

    Dziękujemy za wpłatę. Przesłane środki zostały zaksięgowane na naszym koncie<br/>


    W dniu dzisiejszym na wskazany adres zostanie wysłana do Ciebie podpisana umowa pożyczki<br/><br/>


    <a href="{{ path('front_user_account') }}">Zaloguj się</a> już teraz na swoim <a href="{{ path('front_user_account') }}">koncie</a><br/>
{% endblock %}


