{% extends 'emails/base.html.twig' %}

{% block body %}
    Witaj user<br/><br/>

    Otrzymaliśmy od Ciebie ofertę pożyczki nr {{ recruitment.0.number }}. <br/>
    Po zgromadzeniu całej pożądanej kwoty potrzebnej do zrealizowania inwestycji od innych inwestorów otrzymasz od nas wiadomość o akceptacji oferty.<br/>
    <br/>
    Nie wpłacaj teraz środków.<br/><br/>


    Szczegóły znajdziesz na swoim koncie po zalogowaniu<br/><br/>


    <a href="{{ absolute_url(path('login')) }}">Zaloguj się</a> już teraz na swoim <a href="{{ absolute_url(path('login')) }}">koncie</a><br/>
{% endblock %}


