
<div class="card">
    <div class="card-body">
        <section id="brand">
            <h5>Social Icons</h5>
            <div class="row fontawesome-icon-list">
                <div class="fa-hover col-lg-3 col-md-6"><a href="#adn"><i class="fa fa-adn"></i> fa-adn</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#android"><i class="fa fa-android"></i> fa-android</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#apple"><i class="fa fa-apple"></i> fa-apple</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#bitbucket"><i class="fa fa-bitbucket"></i> fa-bitbucket</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#bitbucket-square"><i class="fa fa-bitbucket-square"></i> fa-bitbucket-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#btc"><i class="fa fa-bitcoin"></i> fa-bitcoin <span class="text-muted">(alias)</span></a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#btc"><i class="fa fa-btc"></i> fa-btc</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#css3"><i class="fa fa-css3"></i> fa-css3</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#dribbble"><i class="fa fa-dribbble"></i> fa-dribbble</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#dropbox"><i class="fa fa-dropbox"></i> fa-dropbox</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#facebook"><i class="fa fa-facebook"></i> fa-facebook</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#facebook-square"><i class="fa fa-facebook-square"></i> fa-facebook-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#flickr"><i class="fa fa-flickr"></i> fa-flickr</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#foursquare"><i class="fa fa-foursquare"></i> fa-foursquare</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#github"><i class="fa fa-github"></i> fa-github</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#github-alt"><i class="fa fa-github-alt"></i> fa-github-alt</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#github-square"><i class="fa fa-github-square"></i> fa-github-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#gittip"><i class="fa fa-gittip"></i> fa-gittip</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#google-plus"><i class="fa fa-google-plus"></i> fa-google-plus</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#google-plus-square"><i class="fa fa-google-plus-square"></i> fa-google-plus-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#html5"><i class="fa fa-html5"></i> fa-html5</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#instagram"><i class="fa fa-instagram"></i> fa-instagram</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#linkedin"><i class="fa fa-linkedin"></i> fa-linkedin</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#linkedin-square"><i class="fa fa-linkedin-square"></i> fa-linkedin-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#linux"><i class="fa fa-linux"></i> fa-linux</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#maxcdn"><i class="fa fa-maxcdn"></i> fa-maxcdn</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#pagelines"><i class="fa fa-pagelines"></i> fa-pagelines</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#pinterest"><i class="fa fa-pinterest"></i> fa-pinterest</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#pinterest-square"><i class="fa fa-pinterest-square"></i> fa-pinterest-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#renren"><i class="fa fa-renren"></i> fa-renren</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#skype"><i class="fa fa-skype"></i> fa-skype</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#stack-exchange"><i class="fa fa-stack-exchange"></i> fa-stack-exchange</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#stack-overflow"><i class="fa fa-stack-overflow"></i> fa-stack-overflow</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#trello"><i class="fa fa-trello"></i> fa-trello</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#tumblr"><i class="fa fa-tumblr"></i> fa-tumblr</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#tumblr-square"><i class="fa fa-tumblr-square"></i> fa-tumblr-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#twitter"><i class="fa fa-twitter"></i> fa-twitter</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#twitter-square"><i class="fa fa-twitter-square"></i> fa-twitter-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#vimeo-square"><i class="fa fa-vimeo-square"></i> fa-vimeo-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#vk"><i class="fa fa-vk"></i> fa-vk</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#weibo"><i class="fa fa-weibo"></i> fa-weibo</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#windows"><i class="fa fa-windows"></i> fa-windows</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#xing"><i class="fa fa-xing"></i> fa-xing</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#xing-square"><i class="fa fa-xing-square"></i> fa-xing-square</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#youtube"><i class="fa fa-youtube"></i> fa-youtube</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#youtube-play"><i class="fa fa-youtube-play"></i> fa-youtube-play</a></div>
                <div class="fa-hover col-lg-3 col-md-6"><a href="#youtube-square"><i class="fa fa-youtube-square"></i> fa-youtube-square</a></div>
            </div>
        </section>
    </div>
</div>
